@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@import 'material-symbols';

@theme {
  /* ================= Colors ================= */
  --color-primary: #278cf1;
  --color-primary-hover: #f6f7f8;
  --color-primary-dark: #101922;
  --color-surface-dark: #1a232e;

 
  --color-secondary-text: #5a7f96;

  --color-background-light: #ffffff;
  --color-background-dark: #101622;

  --color-card-light: #f6fefd;
  --color-card-dark: #1a2332;

  --color-text-main: #334155;
  --color-text-secondary: #64748b;

  --color-border-light: #e0f7f5;
  --color-border-dark: #2a3441;

  /* ================= Fonts ================= */
  --font-display: "Lexend", sans-serif;
  --font-body: "Noto Sans", sans-serif;

  /* ================= Border Radius ================= */
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;
}
